# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
node_modules/.bin/

# testing
.idea/
.history/
.vscode/
coverage/
data/
.homebridge/

# production
.env
.build/
build/
lib/
tmp/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# misc
.DS_Store
*.code-workspace
